:root {
  --fs-L: 5rem;
  --fs-M: 3.5rem;
  --fs-MM: 3.75rem;
  --fs-S: 2rem;
  --fs-paragraph: 1.125rem;

  --clr-bg: #24053e;
  --clr-hg: #44ffa1;
  --clr-light-bg: #fcf8ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 650px;
  background-color: var(--clr-bg);
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  overflow-x: hidden;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  padding: 3em 2em;
  margin: 0 auto;
}

.primary-btn {
  display: flex;
  background-color: var(--clr-hg);
  color: #24053e;
  font-size: 18px;
  padding: 0.8em 1em;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--clr-hg);
}

.btn {
  margin: 1.5em auto;
}

.primary-btn:hover {
  background-color: #24053e;
  border: 2px solid #44ffa1;
  color: #44ffa1;
}

.secondary-btn {
  border: none;
  border-bottom: 3px solid #44ffa1;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.secondary-btn:hover {
  color: #44ffa1;
}

.header-text {
  font-family: "Fraunces", serif;
  font-size: var(--fs-M);
  color: #fff;
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
}

.img-hero {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 490px;
  margin: 0 1em;
}

main {
  padding: 15em 4em;
  height: 700px;
  background-color: var(--clr-light-bg);
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  text-align: center;
  color: var(--clr-bg);
  margin-bottom: 8em;
}

.hero-container {
  margin: 1em 0;
}

.number {
  font-family: "Fraunces", serif;
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--clr-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.center {
  margin: 1.5em auto;
}

.title {
  font-family: "Fraunces", serif;
  margin: 1em 0;
  font-size: 32px;
}

.text {
  line-height: 32px;
  font-size: 18px;
}

main {
  height: 1400px;
}

.heading {
  font-family: "fraunces", serif;
  font-size: var(--fs-S);
}

.founder {
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: relative;
  width: 100%;
}

.container {
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em;
  background-color: var(--clr-bg);
  color: #fff;
  z-index: auto;
  max-width: 90%;
  text-align: center;
}

.spacing {
  margin: 1.5em 0;
}

footer {
  text-align: center;
  margin: 4em 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  gap: 2em;
}

.pointer {
  cursor: pointer;
}

/* Responsive Design */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header-text::before {
    content: url("./assets/images/bg-pattern-1.svg");
    top: 100px;
    left: -100px;
    position: absolute;
  }

  .header-text::after {
    content: url("./assets/images/bg-pattern-2.svg");
    top: 210px;
    right: -80px;
    position: absolute;
  }

  .header-text {
    font-size: var(--fs-MM);
  }

  main {
    height: 1100px;
  }

  .founder {
    width: 281px;
    margin-left: 5em;
  }

  .container {
    margin-left: 10em;
    padding: 4em;
    background-color: var(--clr-bg);
    color: #fff;
    z-index: auto;
    max-width: 514px;
    text-align: left;
  }

  .btn {
    margin: 1.5em 0;
  }
}

@media only screen and (min-width: 960px) {
  .header-text {
    font-size: var(--fs-L);
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    height: 700px;
  }

  .header-text::before {
    content: url("./assets/images/bg-pattern-1.svg");
    top: 100px;
    left: -100px;
    position: absolute;
  }

  .heading::after {
    content: url("./assets/images/bg-pattern-3.svg");
    top: 270px;
    right: 40px;
    position: absolute;
  }

  .founder {
    margin: 0 10em;
  }

  .container {
    position: relative;
    bottom: 170px;
    left: 200px;
    width: 730px;
    height: 412px;
    margin-bottom: -170px;
    text-align: left;
  }

  .btn {
    margin: 1.5em 0;
  }

  .founder {
    width: 477px;
  }
}
